

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 50, 50);
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 4em;
}

h1:hover {
  cursor: pointer;
  color: black;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: white;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: rgb(0, 0, 0);
}

#logo{
  padding-top: 20px;
  height: 75px;
  width: auto;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2em;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

a:hover {
  color: black;
}

.welcomeBodyFont {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: white;
}

#loginBlurb {
  margin-bottom: 0px;
}

#logoHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  line-height: 5em;
}

#navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7em;
  background-color: rgb(175, 42, 9);
}

div#loginFormContainer {
  display: flex;
  padding-top: 10%;
  text-align: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  background-size: 100%;
  background-image: url("https://lh3.googleusercontent.com/A6_cPTYqWwxXOnOVTFyVWpB8S7DgUeKYdmclDMM46eRQqNGvogleyKQ3zOqdj3k6UjF8zV5PD9WOEsX5VB8xWeQHRCCPcOQIo-_7NxERBQYRKO3OSFKb1HyiyAxykDZY8k3vKxA0TKl6gUmjFTj9k7_xbZtOu9Q4GMH_ozQlv2jgvlNGRd2378NzUeuy3aG72rdOHRK4Q_hfSKJEj5NjGGs_lpZw-9RX8N2gwhbz4vgygkUqSUejoDdtldfipLPoJf8mMWsRrmu-xe9p7rUNx7D-4IQixo_OEEj63TV-fzhG34EjiPycZmRzxIlnJQmIByVg2iBVliYFbSBXncHSbOuSPlvLV78fgSkUhBQyT4vXBAo7KZjkFMxY2kQz57IES6g91of5O7_eyhv6eY2kyd1-N9SdJcJvxELIZ-sXIjAxFsXXoDLZOTDkHVpzVW6dNPeQMCr330NENA7IcefK5hC_sLRnKHy87Ss9JAFDORlM77RVIyZfU73Mx1IE5OE1O7NIckLY0k2sTN8thbGd4XNKF0fIty25ChiKtNLyJn5oPrFp6MduabNoB-WPqJYQr0ryqHSdhmNITn84t7nYhu58392ITetUSkBDmug8udFz829zca5mX7AP0rc0WNhX4yaDWPuz7OdQNG_wqAoXCVEzirF3_97GOerdNwAccbCbIkLSindA9TZ04VfScMLfSbsP9BVcj5akBkozlkpOeNg=w3706-h2082-no?authuser=0");
  background-repeat: no-repeat;
}

.input {
  width: 150px;
  padding: .5em
}

div.ui.label {
  width: 90px
}

.card-div {
  margin-top: 30px;
  padding: 15px;
  /* background-color: rgb(205, 205, 205); */
}

#card-collection {
  display: flex;
  justify-content: center;
}

/* .page {
  margin: 0 20%;
  background-color: rgb(118, 118, 118);
  background-color: rgb(50, 50, 50);
} */

#vinyl-page {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.ui.input>input {
  width: 300px
}

/* .vinyl-cards {
  background-color: rgb(191, 191, 191);
}

div.content {
  background-color: rgb(174, 174, 174);
} */

.card-content {
  color: black;
  font-family: 'Poppins', sans-serif;
}

p.card-content {
  font-size: 20px;
}

.vinyl-modal h3, p, h4 {
  color: black;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

p span {
  font-weight: bold;
}

#commentAuthor a{
  color: black;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

#commentAuthor a:hover{
  color: rgb(175, 42, 9)
}

.profile-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20%;
}

.profile-page p {
  color: white;
  font-size: 2em;
}

#reviewModalTitle {
  color: black;
  font-size: 1.5em;
}

#reviewModalTitle:hover {
  color: 175, 42, 9;
  cursor: pointer;
}

#reviewCardStars {
  font-size: 1.5em;
}

.ui.feed>.event>.label img {
  border-radius: 0px;
}

.ui.feed>.event>.label img:hover {
  box-shadow: 5px 5px 5px #B1B1B1;
  cursor: pointer;
}

.form {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-content: center;
}

label.label {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2em;
  padding: 5px;
}

.input {
  width: 450px;
}

#vinylFormHeader {
  margin: 0 20%;
  padding-top: 30px;
  padding-top: 20px;
}

select#inProduction {
  width: 50px;
  margin-bottom: 10px;
}

button#create-account.ui.button.modal-button {
  align-self: center;
  width: 150px;
  /* margin-left: 46%;
  margin-right: -46% */
}

#vinylboxd {
  margin-top: 0px;
}

#my-reviews {
  font-size: 20px;
}

form.ui.reply.form {
  padding: 0px
}